@mixin filter($arg){
  -webkit-filter: $arg;
  filter: $arg;
}

$light-blur: blur(2px);
$deep-blur: blur(4px);


/* main filter */

/* B1 */
$B1: grayscale(100%);

.B1{
  @include filter($B1);

  .light.blur{
    @include filter($B1 $light-blur);
  }

  .deep.blur{
    @include filter($B1 $deep-blur);
  }
}

/* kawa */
$kawa: opacity(90%) contrast(170%) brightness(0.9) saturate(150%);

.kawa{
  @include filter($kawa);

  .light.blur{
    @include filter($kawa $light-blur);
  }

  .deep.blur{
    @include filter($kawa $deep-blur);
  }
}